*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
scroll-behavior:smooth;
}

body{
background:#111;
color:white;
}

header{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111;
}

.logo{
font-size:28px;
font-weight:bold;
color:#00d9ff;
text-decoration:none;
}

nav a{
margin-left:20px;
text-decoration:none;
color:white;
transition:.3s;
}

nav a:hover{
color:#00d9ff;
}

section{
padding:100px 10%;
}

.home{
display:flex;
justify-content:space-between;
align-items:center;
min-height:100vh;
gap:50px;
}

.home-img img{
width:300px;
border-radius:50%;
border:5px solid #00d9ff;
}

.home-content h1{
font-size:50px;
}

.home-content span{
color:#00d9ff;
}

.home-content p{
margin:20px 0;
line-height:1.6;
}

.social-icons a{
font-size:30px;
color:white;
margin-right:15px;
transition:.3s;
}

.social-icons a:hover{
color:#00d9ff;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 30px;
background:#00d9ff;
color:black;
text-decoration:none;
border-radius:30px;
font-weight:bold;
}

h2{
text-align:center;
margin-bottom:40px;
font-size:40px;
color:#00d9ff;
}

.skill-box{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:#1e1e1e;
padding:30px;
width:220px;
text-align:center;
border-radius:10px;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.card i{
font-size:60px;
color:#00d9ff;
margin-bottom:20px;
}

.projects{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.project-card{
background:#1e1e1e;
padding:25px;
width:300px;
border-radius:10px;
}

form{
display:flex;
flex-direction:column;
gap:20px;
max-width:500px;
margin:auto;
}

input,
textarea{
padding:15px;
border:none;
border-radius:5px;
}

button{
padding:15px;
background:#00d9ff;
border:none;
cursor:pointer;
font-size:18px;
font-weight:bold;
}

@media(max-width:768px){

.home{
flex-direction:column;
text-align:center;
}

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

}